<div class="modal-main modal-surrender" v-show="modalOpened === 'surrender'" v-cloak>
    <link rel="stylesheet" href="/css/components/modals/surrender.css">
    <div class="blur" v-on:click="openModal(null)"></div>

    <div class="modal" >
        <div class="closebutton" v-on:click="openModal(null)"></div>

        <div class="modal-content">
            <h1>Vzdát se</h1>
            <p v-if="game?.type === 'RANKED'">Opravdu se chceš vzdát? Hra se vyhodnotí jako prohra a ztratíš ELO.</p>
            <p v-if="game?.type === 'FREEPLAY'">Opravdu se chceš vzdát? Hra se vyhodnotí jako prohra.</p>
            <button class="button-primary-col-sec" v-on:click="surrenderGame()">Vzdát se</button>
            <button class="button-secondary" v-on:click="openModal(null)">Zrušit</button>
        </div>
    </div>
</div>