<footer class="footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1">
    <link rel="stylesheet" href="/css/components/footer.css" />
    <link rel="stylesheet" href="/css/mainstyles.css" />
    
    <div class="content">
        <div class="content-flex">
            <div class="navigation">
                <p class="upper">Navigace</p>
                <p>
                    <a href="/">Domů</a>
                </p>
                <p>
                    <a href="/games">Hry</a>
                </p> 
                
            </div>
            <div class="other">
                <p class="upper">Ostatní</p>
                <p>
                    <a href="/privacy/gdpr">GDPR</a>
                </p>
                <p>
                    <a href="/privacy/cookies">COOKIES</a>
                </p>
            </div>
            <div class="team">
                <p class="upper">Team</p>
                <p>
                    Fullstack:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://stanislavskudrna.cz" target="_blank"> Stanislav Škudrna</a>
                </p>
                <p>
                    Frontend:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/dgkuba657" target="_blank"> Jakub Funk</a>
                </p>
                <p>
                    Frontend:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/wedralda" target="_blank"> Pavel Andrle</a>
                </p>
            </div>
        </div>
        <div class="line"></div>
        <div class="footer-logo"></div>
        <div class="copyright-tda">
            <span>©</span>
            Think Different Academy 
            <span>2024-2025</span>
        </div>
        <div class="copyright">
            Vytvořeno týmem
            <span>Error Makers</span>
            ze školy
            <a href="https://educhem.cz" target="_blank">Střední škola EDUCHEM, a.s.</a>
            pro
            <a href="https://tourde.app/" target="_blank">Tour de App</a>.
        </div>
    </div>
</footer>