<header class="header-5F015D44-0984-4A50-B52B-5319AE57C19C">
    <link rel="stylesheet" href="/css/components/header.css" />

    <div class="flex">
        <div class="Header-Logo"></div>

        <div class="Header-Menu">
            <a href="/">Domů</a>
            <a href="/games">Hry</a>
            @*<a href="/multiplayer">Online</a>*@
        </div>

        <div class="Login">
            @* <button> *@
            @*     <a href="/login">Login</a> *@
            @* </button> *@
            <button class="button-primary">
                <a>Nová hra</a>
            </button>
        </div>
    </div>
</header>
