@using TdA25_Error_Makers.Classes
@{
    string path = HCS.Current.Request.Path;
}
<header class="header-5F015D44-0984-4A50-B52B-5319AE57C19C">
    <link rel="stylesheet" href="/css/components/header.css" />

    <div class="flex">
        <div class="Header-Logo"></div>

        <div class="Header-Menu">
            <a href="/">Domů</a>
            <a href="/games">Hry</a>
            @*<a href="/multiplayer">Online</a>*@
        </div>

        <div class="Login">
            @* <button> *@
            @*     <a href="/login">Login</a> *@
            @* </button> *@
            <div class="changetheme" onclick="
                import('/scripts/functions.js').then(module => {
                    module.toggleWebTheme();
                });
            "></div>

            @if (!path.StartsWith("/game/")) {
                <a class="newgame button-primary" href="/game">Nová hra</a>
            } else {
                <a class="newgame button-primary" v-cloak v-on:click="createNewGame()">Nová hra</a>
            }
        </div>
    </div>
</header>
