@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@{
    var webTheme = Utilities.WebTheme.Get();


    // části stránky
    var background = Html.PartialAsync("/Views/Components/BlurBackground.cshtml");
    var header = Html.PartialAsync("/Views/Components/Header.cshtml");
    var footer = Html.PartialAsync("/Views/Components/Footer.cshtml");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookies • Think Different Academy</title>
    <link rel="icon" href="/favicon.ico">

    <script src="/libs/vue@(Program.DEVELOPMENT_MODE ? "_dev" : "").js"></script>
    <link rel="stylesheet" href="/libs/purecss.css">
    <link rel="stylesheet" href="/css/mainstyles.css">
    <link rel="stylesheet" href="/css/games.css">
    <link rel="stylesheet" href="/css/Cookies.css">
    <link id="webtheme-link" rel="stylesheet" href="@Utilities.WebTheme.GetCSSFile()">
</head>
<body id="COOKIES-PAGE">
<div id="app">
    @await background
    @await header


    <div class="sections">
        <section class="mainsection">
            <div class="texts">
                <h1>Cookies</h1>
                <p>Naše webová aplikace používá soubory cookies, aby vám poskytla co nejlepší uživatelský zážitek. Cookies jsou malé textové soubory, které jsou ukládány ve vašem zařízení při návštěvě našich stránek. Pomáhají nám zapamatovat si vaše preference, zlepšit výkon našich služeb a přizpůsobit obsah vašim potřebám.</p>
    
                <h2>Jaké cookies používáme?</h2>
                <ul>
                    <li><strong>Nezbytné cookies:</strong> Tyto cookies jsou nezbytné pro správnou funkci našich webových stránek a umožňují vám přístup k základním funkcím, jako je přihlášení do vaší aplikace.</li>
                    <li><strong>Funkční cookies:</strong> Tyto cookies umožňují našim stránkám zapamatovat si vaše preference a přizpůsobit funkce, například jazykové nastavení.</li>
                </ul>

                <h2>Jak kontrolovat cookies?</h2>
                <p>Pokud nechcete, aby naše stránka používala cookies, můžete je ve svém prohlížeči zakázat. Upozorňujeme však, že některé funkce našich webových stránek nemusí být plně funkční, pokud cookies deaktivujete.</p>

                <p>Pokud budete pokračovat v používání našich stránek bez změny nastavení cookies, souhlasíte s jejich použitím.</p>

                
            </div>
        </section>
    </div>


    @await footer
</div>
</body>
<script type="module">
    import * as f from "/scripts/functions.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";
    import { vue } from "/scripts/games.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";

    window.addCookie = f.addCookie;
    //console.warn(vue);
    if (window.history.replaceState) window.history.replaceState( null, null, window.location.href );
</script>
</html>