@using TdA25_Error_Makers.Classes.Objects
@{
    Game? game = ViewBag.Game as Game;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/game.css">
    <title>Document</title>
</head>
<body>
    @if (game != null) {
        <p>Game loaded: @game.Name</p>
    }
<div class="grid"></div>
</body>
<script>
    const grid = document.querySelector('.grid');

    for (let i = 0; i < 15 * 15; i++) {
        const cell = document.createElement('div');
        cell.classList.add('cell');
        grid.appendChild(cell);
    }
</script>
</html>