@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@{
    var webTheme = Utilities.WebTheme.Get();


    // části stránky
    var background = Html.PartialAsync("/Views/Components/BlurBackground.cshtml");
    var header = Html.PartialAsync("/Views/Components/Header.cshtml");
    var footer = Html.PartialAsync("/Views/Components/Footer.cshtml");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GDPR • Think Different Academy</title>
    <link rel="icon" href="/favicon.ico">

    <script src="/libs/vue@(Program.DEVELOPMENT_MODE ? "_dev" : "").js"></script>
    <link rel="stylesheet" href="/libs/purecss.css">
    <link rel="stylesheet" href="/css/mainstyles.css">
    <link rel="stylesheet" href="/css/games.css">
    <link rel="stylesheet" href="@Utilities.WebTheme.GetCSSFile()">
</head>
<body id="GDPR-PAGE">
<div id="app">
    @await background
    @await header


    <div class="sections">
        <section class="mainsection">
            <div class="texts">
                <h1>GDPR</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis dolores eveniet hic illum minus modi molestias ratione repudiandae, unde! Dolore doloremque iure repellendus voluptate? Asperiores consectetur culpa magnam odio.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis dolores eveniet hic illum minus modi molestias ratione repudiandae, unde! Dolore doloremque iure repellendus voluptate? Asperiores consectetur culpa magnam odio.</p>
            </div>
        </section>
    </div>


    @await footer
</div>
</body>
<script type="module">
    import * as f from "/scripts/functions.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";
    import { vue } from "/scripts/games.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";

    window.addCookie = f.addCookie;
    console.warn(vue);
    if (window.history.replaceState) window.history.replaceState( null, null, window.location.href );
</script>
</html>