@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@{
    var webTheme = Utilities.WebTheme.Get();
    var loggedAccountTask = Auth.ReAuthUserAsync();

    // části stránky
    var blurBackground = Html.PartialAsync("/Views/Components/BlurBackground.cshtml");
    var coloredBackground = Html.PartialAsync("/Views/Components/ColoredBackground.cshtml");
    var header = Html.PartialAsync("/Views/Components/Header.cshtml");
    var footer = Html.PartialAsync("/Views/Components/Footer.cshtml");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Domů • Think Different Academy</title> <!-- minulý rok jsme dostali minus body za to, že to bylo „Home‟ a ne „Domů‟, tak to neměňte :D  -->
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/libs/purecss.css">
    <link rel="stylesheet" href="/css/home.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link rel="stylesheet" href="/css/mainstyles.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link id="webtheme-link" rel="stylesheet" href="@Utilities.WebTheme.GetCSSFile()">

    @*  scripty pro komponenty *@
    <script src="/scripts/components/header.js"></script>
</head>
<body id="HOME-PAGE" class="header-top-light">
     @await header

    <section class="top">
        @await coloredBackground

        <div class="center">
            <div class="left">
                <h1>Think different Academy</h1>
                <p>Platforma na řešení zajímavých piškvorkových úloh, která ti pomůže rozvíjet logické myšlení a strategické schopnosti.</p>
                <button class="button-primary-col-sec" onclick="location.href='/game'">HRÁT</button>
            </div>

            <div class="right">
                <div class="img"></div>
            </div>
        </div>
    </section>

    @await footer
</body>
<script type="module">
    import * as f from "/scripts/functions.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";

    window.addCookie = f.addCookie;
    if (window.history.replaceState) window.history.replaceState( null, null, window.location.href );
</script>
</html>