@using TdA25_Error_Makers.Classes
@using TdA25_Error_Makers.Classes.Objects
@{
    Account? loggedAccount = await Auth.ReAuthUserAsync();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Domů • Think Different Academy</title> <!-- minulý rok jsme dostali minus body za to, že to bylo „Home‟ a ne „Domů‟, tak to neměňte :D  -->
</head>
<body>
    <p>Index</p>
    @if (loggedAccount != null) {
        <p>Přihlášen jako @loggedAccount.Username</p>
    }
</body>
</html>