@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@using TdA25_Error_Makers.Classes.Objects

@{
    var webTheme = Utilities.WebTheme.Get();
    var loggedAccount = Utilities.GetLoggedAccountFromContextOrNull();


    // části stránky
    var background = Html.PartialAsync("/Views/Components/BlurBackground.cshtml");
    var header = Html.PartialAsync("/Views/Components/Header.cshtml");
    var footer = Html.PartialAsync("/Views/Components/Footer.cshtml");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Žebříčky • Think Different Academy</title>
    <link rel="icon" href="/favicon.ico">


    @{ // Vue.js definice
        if (Program.DEVELOPMENT_MODE) {
            <script src="/libs/vue_dev.js"></script>
        } else {
            <script src="/libs/vue.js"></script>
        }
    }


    <link rel="stylesheet" href="/libs/purecss.css">
    <link rel="stylesheet" href="/css/mainstyles.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link rel="stylesheet" href="/css/leaderboard.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link id="webtheme-link" rel="stylesheet" href="@Utilities.WebTheme.GetCSSFile()">

    @*  scripty pro komponenty *@
    <script type="module" src="/scripts/components/header.js"></script>
</head>
<body id="LEADERBOARD-PAGE" class="header-top-light">
<div id="app">
    @await header


    <div class="sections">
        
        <section class="top">
            <div class="wallpaper"></div>

            <div class="texts">
                <h1>Žebříčky</h1>
            </div>
        </section>

        <section class="mainsection">
            <div class="leaderboard">

                <div class="top-three" v-if="topThree.length">
                    <!-- 2. místo nalevo -->
                    <div class="player-second" v-if="topThree[1]">
                        <div class="avatar-wrapper">
                            <div class="avatar">
                                {{ getInitials(topThree[1]) }}
                            </div>
                            <div class="rank">2</div>
                        </div>
                        <div class="player-info">
                            <div class="name">{{ topThree[1].display_name || topThree[1].username }}</div>
                            <div class="score">{{ topThree[1].elo }} Elo</div>
                        </div>
                    </div>

                    <!-- 1. místo uprostřed (s korunou) -->
                    <div class="player-first" v-if="topThree[0]">
                        <div class="crown"></div>
                        <div class="avatar-wrapper">
                            <div class="avatar">
                                {{ getInitials(topThree[0]) }}
                            </div>
                            <div class="rank">1</div>
                        </div>
                        <div class="player-info">
                            <div class="name">{{ topThree[0].display_name || topThree[0].username }}</div>
                            <div class="score">{{ topThree[0].elo }} Elo</div>
                        </div>
                    </div>

                    <!-- 3. místo napravo -->
                    <div class="player-third" v-if="topThree[2]">
                        <div class="avatar-wrapper">
                            <div class="avatar">
                                {{ getInitials(topThree[2]) }}
                            </div>
                            <div class="rank">3</div>
                        </div>
                        <div class="player-info">
                            <div class="name">{{ topThree[2].display_name || topThree[2].username }}</div>
                            <div class="score">{{ topThree[2].elo }} Elo</div>
                        </div>
                    </div>
                </div>
                
                <div class="leaderboard-bottom">
                    <div class="rest-of-leaderboard" v-for="(user, i) in restOfLeaderboard" :key="user.uuid">
                        <div class="left">
                            <div class="rank">{{user.rank}}.</div>
                            <div class="user">{{user.display_name || user.username}}</div>
                        </div>
                        <div class="right">
                            <div class="elo">{{user.elo}} Elo</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @await footer
</div>
</body>


<script type="module">
    import * as f from "/scripts/functions.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";
    import { vue } from "/scripts/leaderboard.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";

    window.addCookie = f.addCookie;
    //console.warn(vue);
    if (window.history.replaceState) window.history.replaceState( null, null, window.location.href );
</script>
</html>