@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@{
    var webTheme = Utilities.WebTheme.Get();
    var loggedAccount = Utilities.GetLoggedAccountFromContextOrNull();

    // části stránky
    var background = Html.PartialAsync("/Views/Components/BlurBackground.cshtml");
    var header = Html.PartialAsync("/Views/Components/Header.cshtml");
    var footer = Html.PartialAsync("/Views/Components/Footer.cshtml");
    var announcements = Html.PartialAsync("/Views/Components/AnnouncementsMain.cshtml");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hrát • Think Different Academy</title>
    <link rel="stylesheet" href="/libs/purecss.css">
    <link rel="stylesheet" href="/css/play.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link rel="stylesheet" href="/css/mainstyles.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link id="webtheme-link" rel="stylesheet" href="@Utilities.WebTheme.GetCSSFile()">


    @{ // Vue.js definice
        if (Program.DEVELOPMENT_MODE) {
            <script src="/libs/vue_dev.js"></script>
        } else {
            <script src="/libs/vue.js"></script>
        }
    }

    @*  scripty pro komponenty *@
    <script src="/scripts/components/header.js"></script>
</head>
<body id="PLAY-PAGE">

    <div id="app">
        @await announcements
        @await header
        @await background

        <div class="main">
            <div class="mpfreeplaylobby" v-cloak v-show="temp.faze === 'createFreeplayLobby'">
                <h1>Freeplay</h1>

                <div class="joinlobby" v-if="freeplayQueue?.account?.isOwnerOfRoom === true">
                    <p>Připoj se ke kamarádovi</p>

                    <div>
                        <input type="number" min="100000" max="999999" maxlength="6" v-model="temp.inputLobbyCode" placeholder="Kód lobby">
                        <button class="button-primary" v-on:click="connectToMultiplayerFreeplayQueue(temp.inputLobbyCode)">Připojit</button>
                    </div>
                </div>

                <div class="leavelobby" v-if="freeplayQueue?.account?.isOwnerOfRoom === false">
                    
                    <div class="left">
                        <p class="text">Jsi připojen do hry s id:</p>
                        <p class="roomnumber">{{ freeplayQueue?.roomNumber }}</p>
                    </div>
                    <div class="right">
                        <button class="leavebutton" v-on:click="connectToMultiplayerFreeplayQueue()">Odpojit</button>
                    </div>
                    
                    
                </div>

                <div class="createlobby">
                    <p>Vytvoření lobby</p>

                    <div class="infolobby">
                        <div class="top">
                            <div class="players">
                                <p>Připojení hráči:</p>
                                <div class="player" v-for="player in freeplayQueue.players">
                                    <p>{{ player.name }}</p>
                                    <i class="hosticon" v-if="player?.uuid === freeplayQueue?.owner?.uuid"></i>
                                </div>
                            </div>
                            <div class="roomnumber">
                                <p class="text">Kód tvojí roomky:</p>
                                <p class="number">{{ freeplayQueue?.roomNumber }}</p>
                            </div>
                        </div>
                        <div class="bottom">
                            <button class="ownerbutton" v-if="freeplayQueue?.account?.isOwnerOfRoom === true" v-on:click="startFreeplayLobby()">Začít hru</button>
                            <button class="userbutton" v-else v-on:click="startFreeplayLobby()" disabled>Začít hru</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="centerdiv" v-show="temp.faze !== 'createFreeplayLobby'" v-cloak>
                <h1 class="title" v-if="temp.selectedMode === null && temp.faze !== 'multiplayerModeQueue'">Hrát</h1>
                <h1 v-else-if="temp.selectedMode === 'singleplayer'">Singleplayer</h1>
                <h1 v-else-if="temp.selectedMode === 'multiplayer' && temp.faze !== 'multiplayerModeQueue'">Multiplayer</h1>

                <!-- faze vybirani singleplayer / multiplayer -->
                <div class="first" v-show="temp.faze === 'selectSingleplayerOrMultiplayer'">
                    <div class="singleplayer" v-on:click="changeFaze('selectSingleplayerMode', () => { temp.selectedMode = 'singleplayer' });">
                        <h2>Singleplayer</h2>
                        <div class="img"></div>
                    </div>
                    <div class="multiplayer" v-on:click="changeFaze('selectMultiplayerMode', () => { temp.selectedMode = 'multiplayer' });">
                        <h2>Multiplayer</h2>
                        <div class="img"></div>
                    </div>
                </div>

                <!-- faze vybirani singleplayer modu -->
                <div class="select-singleplayer-mode" v-show="temp.faze === 'selectSingleplayerMode'">
                    <p class="back" v-on:click="changeFaze('selectSingleplayerOrMultiplayer', () => { temp.selectedMode = null })">« Zpět</p>

                    <div class="m1v1" v-on:click="temp.selectedSingleplayerMode = '1v1'; locationHref('/play/singleplayer/1v1');">
                        <div>
                            <h2>1v1</h2>
                            <p>Zahraj si piškvorky proti kamarádovi na jednom počítači!</p>
                        </div>
                    </div>
                    <div class="ai locked" v-on:click="temp.selectedSingleplayerMode = 'vsai';">
                        <div>
                            <h2>Proti AI</h2>
                            <p>Zkusíš porazit umělou inteligenci v piškvorkách?</p>
                        </div>

                        <p class="loginwarn">Naše AI momentálně odpočívá :)</p>
                    </div>
                </div>

                <!-- faze vybirani multiplayer modu -->
                <div class="select-multiplayer-mode" v-show="temp.faze === 'selectMultiplayerMode'">
                    <p class="back" v-on:click="changeFaze('selectSingleplayerOrMultiplayer', () => { temp.selectedMode = null })">« Zpět</p>

                    <div class="freeplay" v-on:click="changeFaze('createFreeplayLobby');">
                        <div>
                            <h2>Freeplay</h2>
                            <p>Vyzvi svého kamaráda na pořádný piškvorkový souboj!</p>
                        </div>
                    </div>
                    <div v-bind:class="['ranked', { 'locked': loggedAccount === null }]" v-on:click="changeFaze('multiplayerModeQueue');">
                        <div>
                            <h2>Ranked</h2>
                            <p>Zahraj si proti náhodnému hráči, ukaž, co v tobě je a získej ELO.</p>
                        </div>

                        <p class="loginwarn">Pro hraní tohoto módu se musíš přihlásit.</p>
                    </div>
                </div>



                <!-- faze kdy je uzivatel v queue -->
                <div class="mmqueue" v-show="temp.faze === 'multiplayerModeQueue'">
                    <div class="img"></div>
                    <p class="timer">{{ parseTimeToDigital(rankedQueue?.timeElapsed ?? 0) }}</p>
                    <h1>Hledáme soupeře proti tobě</h1>
                    <p v-if="rankedQueue.size === 0 || rankedQueue.size === 1">Ve frontě jsi aktuálně sám... :(</p>
                    <p v-else-if="rankedQueue.size > 0 && rankedQueue.size <= 4">Ve frontě jsou aktuálně {{ rankedQueue?.size ?? 0 }} hráči.</p>
                    <p v-else-if="rankedQueue.size > 4">Ve frontě je aktuálně {{ rankedQueue?.size ?? 0 }} hráčů.</p>
                    <p v-else>.....</p>
                    <button class="button-primary-col-sec" v-on:click="changeFaze('selectMultiplayerMode'); socket.close(); socket = null">Opustit</button>
                </div>
            </div>
        </div>

        @await footer
    </div>
</body>
<script type="module">
    import * as f from "/scripts/functions.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";
    import { vue } from "/scripts/play.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";

    @if (loggedAccount is not null) {
        <text>
            vue.loggedAccount ??= {};
            vue.loggedAccount.uuid = '@(loggedAccount?.UUID ?? null)';
            vue.loggedAccount.name = '@(loggedAccount?.DisplayName ?? null)';
            //console.warn(vue.loggedAccount);
        </text>
    }
    window.addCookie = f.addCookie;
    if (window.history.replaceState) window.history.replaceState( null, null, window.location.href );
</script>
</html>