<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register • Think Different Academy</title>
</head>
<body>
<h1>Registrace</h1>
<p>Mas ucet <a href="/login">prihlas se</a></p>
<form method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br><br>
    <label for="passwordconfirm">Confirm Password:</label><br>
    <input type="password" name="passwordconfirm">
    <input type="submit" value="Submit">
</form>
@if (ViewBag.ErrorMessage != null) {
    <p style="color: red">@ViewBag.ErrorMessage</p>
}
</body>
</html>