.sections {
    height: 100vh;
    margin: 0 auto;
    width: 100%;

    .mainsection {
        position: relative;
        margin-top: 2vh;
        margin: 16px;
        h1 {
            text-align: center;
        }

        .top {
            width: 100%;
            border-bottom: solid 1px rgba(0, 0, 0, 0.05);
            text-align: left;
            display: flex;
            flex-direction: row;


            .usercount {
                text-align: right;
                display: flex;
                flex-direction: row;

                .icon {
                    width: 24px;
                    height: 24px;
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-image: url(../../public/images/icons/user.svg);
                    background-color: var(--text-color-primary);
                }
            }
        }

        .text {
            margin: 0;
            width: 100%;
            border-bottom: solid 1px rgba(0, 0, 0, 0.05);
            font-size: 20px;
        }

        p{
            margin: 0;
            width: 100%;
            font-size: 20px;
        }
            .User {
                margin-top: 16px;
                .usernamediv {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 8px;

                    .username {
                        width: fit-content;
                        margin:0;
                    }

                    .icon {
                        width: 16px;
                        height: 16px;
                        mask-size: contain;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-image: url(../../public/images/icons/hand-paper.svg);
                        background-color: var(--accent-color-secondary);
                    }
                }

                .title {
                    color: var(--text-color-primary);
                    font-size: 48px;
                    font-weight: 700;
                    background-color: var(--background-color-4);
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                }

                .bordered {
                    color: var(--text-color-primary);
                    font-size: 48px;
                    font-weight: 700;
                    background-color: var(--background-color-3);
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    border: solid 3px;
                    border-color: var(--accent-color-secondary);
                }

                .username {
                    font-size: 16px;
                    margin-top: 8px;
                    text-align: center;
                }
            }

        .users {
            flex-wrap: wrap;
            display: flex;
            gap: 16px;
            flex-direction: row;
            width: 100%;
        }

    }



    .buttons {
        height: 12vh;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 16px;
        flex-direction: row;
        align-items: center;
        background-color: var(--background-color-4);
        position: absolute;
        bottom: 0px;
        
        >div {
            cursor: pointer;
        }

        .button-red {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--accent-color-secondary);
            
            .button-leave {
                width: 24px;
                height: 24px;
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-image: url(../../public/images/icons/leave.svg);
                background-color: white;
            }
        }
        
        .button {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-gray);

            .button-icon {
                width: 24px;
                height: 24px;
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-image: url(../../public/images/icons/beacon.svg);
                background-color: white;
                cursor: pointer;
            }

            .button-icon2 {
                width: 24px;
                cursor: pointer;
                height: 24px;
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-image: url(../../public/images/icons/hand-paper.svg);
                background-color: white;
            }

        }
    }
}

