.sections {
    height: 100vh;
    margin: 0 auto;
    width: 100%;

    .mainsection {
        position: relative;
        margin-top: 2vh;
        margin: 16px;
        h1 {
            text-align: center;
        }
        p {
            text-align: left;
            margin: 0;
            width: 100%;
            border-bottom: solid 1px;
            font-size: 20px;
            width: 100%;
        }
            .User {
                background-color: var(--background-color-3);
                border-radius: 50%;
                height: 100px;
                width: 100px;
                text-align: center;
                margin: 0 auto;
                gap: 16px;
            }

        .users {
            overflow: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 5vh 0;
            gap: 8px;
        }

    }
    
    .buttons-red {
        height: 12vh;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 16px;
        flex-direction: row;
        align-items: center;
        background-color: var(--background-color-3);
        position: absolute;
        bottom: 0px;

    .button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color-secondary);
            .button-leave {
                width: 24px;
                height: 24px;
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-image: url(../../public/images/icons/phone-slash.svg);
                background-color: white;
            }
    }

    }
}

