.modal-editgame > .modal {
  padding: 0;
  display: flex;
  overflow: hidden;
  border: 1px solid var(--button-outline-color);
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .closebutton {
  display: none;
  position: absolute;
  width: 48px;
  height: 48px;
  mask-image: url("/images/icons/X_bile.svg");
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: top right;
  top: 16px;
  right: 16px;
  cursor: pointer;
  user-select: none;
  background-color: var(--accent-color-secondary);
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .closebutton:hover {
  background-color: var(--accent-color-secondary-darker);
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .left {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-right: 1px solid var(--button-outline-color);
}
.modal-editgame > .modal > .left > .modal-header {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}
.modal-editgame > .modal > .left > .modal-header > .img {
  width: 90px;
  height: 90px;
  background-color: var(--text-color);
  mask-image: var(--game-icon);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.modal-editgame > .modal > .left > .modal-header > .texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.modal-editgame > .modal > .left > .modal-header > .texts > h1 {
  margin: 0;
  width: max-content;
}
.modal-editgame > .modal > .left > .modal-header > .texts > p {
  margin: 0;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-gray);
}
.modal-editgame > .modal > .left > .modal-content {
  display: flex;
  gap: 24px;
  position: relative;
  flex-direction: column;
}
.modal-editgame > .modal > .left > .modal-content > .input > p {
  margin: 0;
  font-weight: 600;
  margin-bottom: 6px;
}
.modal-editgame > .modal > .left > .modal-content > .input input, .modal-editgame > .modal > .left > .modal-content > .input select {
  width: 100%;
}
.modal-editgame > .modal > .left > .modal-content > .input > .select-wrapper {
  position: relative;
}
.modal-editgame > .modal > .left > .modal-content > .input > .select-wrapper > select {
  appearance: none;
  padding-right: 52px;
}
.modal-editgame > .modal > .left > .modal-content > .input > .select-wrapper::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: var(--text-color);
  mask: url("/images/icons/arrow_down.svg") no-repeat center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
.modal-editgame > .modal > .left > .modal-content > .buttons {
  display: flex;
  gap: 8px;
}
.modal-editgame > .modal > .left > .modal-content > .buttons > input {
  flex-grow: 1;
}
.modal-editgame > .modal > .left > .modal-content > .buttons > input:is(.locked) {
  background-color: var(--color-gray);
  pointer-events: none;
}
.modal-editgame > .modal > .left > .bottom {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 24px;
}
.modal-editgame > .modal > .left > .bottom > .help {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.modal-editgame > .modal > .left > .bottom > .help > div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.modal-editgame > .modal > .left > .bottom > .help > div > div {
  background-color: var(--text-color);
  width: 16px;
  height: 16px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.modal-editgame > .modal > .left > .bottom > .help > div > p {
  margin: 0;
  color: var(--text-color);
}
.modal-editgame > .modal > .left > .bottom > .errors p {
  width: 260px;
  color: var(--accent-color-secondary);
  margin: 0;
  /*&:is(.withfadeout) {
      opacity: 0;
      animation: asdfsdeuofsdiofh 4s forwards ease-in-out;

      @keyframes asdfsdeuofsdiofh {
          0% { opacity: 1; }
          75% { opacity: 1; }
          100% { opacity: 0; }
      }
  }*/
}
.modal-editgame > .modal > .left > .bottom > .delete-button {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  cursor: pointer;
  user-select: none;
  color: var(--accent-color-secondary);
  transition-duration: 0.3s;
  align-items: center;
}
.modal-editgame > .modal > .left > .bottom > .delete-button > div {
  width: 16px;
  height: 16px;
  background-color: var(--accent-color-secondary);
  mask-image: url("/images/icons/trash.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .left > .bottom > .delete-button:hover {
  color: var(--accent-color-secondary-darker);
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .left > .bottom > .delete-button:hover > div {
  transition-duration: 0.3s;
  background-color: var(--accent-color-secondary-darker);
}
.modal-editgame > .modal > .right {
  padding: 24px;
}
.modal-editgame > .modal > .right > .grid {
  display: grid;
  grid-template-columns: repeat(15, 38px);
  grid-template-rows: repeat(15, 38px);
  gap: 0;
  width: fit-content;
  border-radius: 12px;
}
.modal-editgame > .modal > .right > .grid .cell {
  width: 38px;
  height: 38px;
  background-color: var(--button-bg);
  border-radius: 6px;
  border: 2px solid var(--background-color-primary);
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .right > .grid .cell:hover {
  background-color: var(--button-bg-hover);
}
.modal-editgame > .modal > .right > .grid .cell:is(.x), .modal-editgame > .modal > .right > .grid .cell:is(.o) {
  transition-duration: 0.3s;
}
.modal-editgame > .modal > .right > .grid .cell:is(.x):is(.winning-cell), .modal-editgame > .modal > .right > .grid .cell:is(.o):is(.winning-cell) {
  animation: dsadasasdsa 2s ease 1;
  animation-delay: 0.5s;
}
.modal-editgame > .modal > .right > .grid .cell:is(.x):is(.winning-cell)::after, .modal-editgame > .modal > .right > .grid .cell:is(.o):is(.winning-cell)::after {
  background-color: white;
}
@keyframes dsadasasdsa {
  0% {
    transform: scale(1);
    z-index: 2;
  }
  40% {
    transform: scale(1.5);
    z-index: 2;
  }
  60% {
    transform: scale(1.5);
    z-index: 2;
  }
  100% {
    transform: scale(1);
    z-index: 2;
  }
}
.modal-editgame > .modal > .right > .grid .cell:is(.x)::after, .modal-editgame > .modal > .right > .grid .cell:is(.o)::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: url("/images/icons/X_bile.svg") no-repeat center;
  mask-size: 60%;
  background: var(--accent-color-secondary);
  animation: xoappear 0.2s ease-out;
  transition-duration: 0.5s;
}
@keyframes xoappear {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-editgame > .modal > .right > .grid .cell:is(.x)::after {
  mask-image: url("/images/icons/X_bile.svg");
  background: var(--accent-color-secondary);
}
.modal-editgame > .modal > .right > .grid .cell:is(.x):is(.winning-cell) {
  background-color: var(--accent-color-secondary);
}
.modal-editgame > .modal > .right > .grid .cell:is(.o)::after {
  mask-image: url("/images/icons/O_bile.svg");
  background: var(--accent-color-primary);
}
.modal-editgame > .modal > .right > .grid .cell:is(.o):is(.winning-cell) {
  background-color: var(--accent-color-primary);
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .modal-editgame > .modal {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    max-width: 628px;
    height: 90%;
    border: 1px solid var(--button-outline-color);
    transition-duration: 0.3s;
  }
  .modal-editgame > .modal > .closebutton {
    display: block;
  }
  .modal-editgame > .modal > .right {
    overflow: auto;
  }
  .modal-editgame > .modal > .left > .bottom > .help {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .modal-editgame > .modal {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 95vw;
    height: 95svh;
    top: 50svh;
    transform: translate(-50%, calc(-50svh + 20px));
    border: 1px solid var(--button-outline-color);
    transition-duration: 0.3s;
  }
  .modal-editgame > .modal > .closebutton {
    display: block;
  }
  .modal-editgame > .modal > .right {
    overflow: auto;
  }
  .modal-editgame > .modal > .left > .bottom > .help {
    display: none;
  }
}

/*# sourceMappingURL=editgame.css.map */
