html {
    --bg: var(--background-color-primary);
    --text-color-primary: #080808;
    --text-color: var(--text-color-primary);
    --text-color-secondary: #1A1A1A;
    --background-color-primary: #F6F6F6;
    --background-color: var(--background-color-primary);
    --background-color-secondary: #FFFFFF;
    --background-color-3: #efefef;
    --color-gray: #666;
    --accent-color-primary: #0070BB;
    --accent-color-primary-darker: #005288;
    --accent-color: var(--accent-color-primary);
    --accent-color-secondary: #E31837;
    --accent-color-secondary-darker: #a11127;
    --accent-color-additional-1: #AB2E58;
    --accent-color-additional-2: #724479;
    --accent-color-additional-3: #395A9A;
    --footer-tda-logo: url("/images/svg/Think-different-Academy_LOGO_oficialni-cerne.svg");
    --footer-divider: url("/images/wave_light.svg");
    --tda-logo-small: url("/images/svg/Think-different-Academy_LOGO_cerny.svg");
    --tda-icon-x: url("/images/icons/X_cerne.svg");
    --tda-icon-o: url("/images/icons/O_cerne.svg");
}


.bg-29aa2e9f-d314-4366-a4cd-95ba0bbd1433 {
    filter: blur(10vw) !important;

    .one, .two {
        width: 32vw;
    }
}


#HOME-PAGE {
    .header-5F015D44-0984-4A50-B52B-5319AE57C19C {
        &:not(.scrolled) {
            > .flex {
                > .Header-Menu > a {
                    color: white !important;
                }

                > .Header-Logo {
                    background-image: url("/images/svg/Think-different-Academy_LOGO_oficialni-bile.svg");
                }
            }
        }

        &:is(.scrolled) {
            >.flex {
                >.Login > button {
                    background-color: rgba(0, 0, 0, 0.3);
                    transition-duration: 0.3s;
                }
            }
        }
    }

    .background {

        &::after {
            background: none;
        }
    }

    section:is(.top) > .center > .left > p {
        color: #e3e3e3;
    }
}