.confetti-8E2DA519-7758-4112-A060-09230DDBE988 {
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 300px;
  overflow: hidden;
  opacity: 0;
  animation: asdsaasdas 5000ms 1 ease-out;
  animation-delay: 0.5s;
}
@keyframes asdsaasdas {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 1;
    display: flex;
  }
  80% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-5deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 276ms;
  animation-duration: 1063ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(60deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 367ms;
  animation-duration: 916ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(59deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 88ms;
  animation-duration: 969ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(-26deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 287ms;
  animation-duration: 770ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-66deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 386ms;
  animation-duration: 826ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(-49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 431ms;
  animation-duration: 1021ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(-42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 225ms;
  animation-duration: 844ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(25deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 416ms;
  animation-duration: 1174ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-34deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 114ms;
  animation-duration: 792ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(-34deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 99ms;
  animation-duration: 1190ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(56deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 394ms;
  animation-duration: 965ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(33deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 10ms;
  animation-duration: 896ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-32deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 386ms;
  animation-duration: 819ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(14) {
  left: 98%;
  transform: rotate(50deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 272ms;
  animation-duration: 1010ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(15) {
  left: 105%;
  transform: rotate(-3deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 170ms;
  animation-duration: 980ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(16) {
  left: 112%;
  transform: rotate(-13deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 236ms;
  animation-duration: 1143ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(17) {
  left: 119%;
  transform: rotate(-50deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 212ms;
  animation-duration: 928ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(18) {
  left: 126%;
  transform: rotate(67deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 277ms;
  animation-duration: 795ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(19) {
  left: 133%;
  transform: rotate(-21deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 1ms;
  animation-duration: 968ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(20) {
  left: 140%;
  transform: rotate(-62deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 122ms;
  animation-duration: 887ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(21) {
  left: 147%;
  transform: rotate(-10deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 144ms;
  animation-duration: 1177ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(22) {
  left: 154%;
  transform: rotate(-44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 117ms;
  animation-duration: 1007ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(23) {
  left: 161%;
  transform: rotate(15deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 250ms;
  animation-duration: 1007ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(24) {
  left: 168%;
  transform: rotate(-19deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 339ms;
  animation-duration: 928ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(25) {
  left: 175%;
  transform: rotate(23deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 106ms;
  animation-duration: 1027ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(26) {
  left: 182%;
  transform: rotate(-33deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 291ms;
  animation-duration: 1072ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(27) {
  left: 189%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 38ms;
  animation-duration: 962ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(28) {
  left: 196%;
  transform: rotate(-23deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 181ms;
  animation-duration: 919ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(29) {
  left: 203%;
  transform: rotate(44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 450ms;
  animation-duration: 962ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(30) {
  left: 210%;
  transform: rotate(-78deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 133ms;
  animation-duration: 811ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(31) {
  left: 217%;
  transform: rotate(61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 319ms;
  animation-duration: 800ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(32) {
  left: 224%;
  transform: rotate(-12deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 372ms;
  animation-duration: 1180ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(33) {
  left: 231%;
  transform: rotate(73deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 163ms;
  animation-duration: 965ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(34) {
  left: 238%;
  transform: rotate(-11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 353ms;
  animation-duration: 1112ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(35) {
  left: 245%;
  transform: rotate(27deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 89ms;
  animation-duration: 1005ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(36) {
  left: 252%;
  transform: rotate(3deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 65ms;
  animation-duration: 1065ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(37) {
  left: 259%;
  transform: rotate(-29deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 487ms;
  animation-duration: 808ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(38) {
  left: 266%;
  transform: rotate(76deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 157ms;
  animation-duration: 913ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(39) {
  left: 273%;
  transform: rotate(-48deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 303ms;
  animation-duration: 807ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(40) {
  left: 280%;
  transform: rotate(-44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 60ms;
  animation-duration: 966ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(41) {
  left: 287%;
  transform: rotate(-60deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 32ms;
  animation-duration: 1064ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(42) {
  left: 294%;
  transform: rotate(53deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 61ms;
  animation-duration: 752ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(43) {
  left: 301%;
  transform: rotate(6deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 272ms;
  animation-duration: 840ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(44) {
  left: 308%;
  transform: rotate(-57deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 86ms;
  animation-duration: 910ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(45) {
  left: 315%;
  transform: rotate(-42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 71ms;
  animation-duration: 992ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(46) {
  left: 322%;
  transform: rotate(52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 112ms;
  animation-duration: 1101ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(47) {
  left: 329%;
  transform: rotate(25deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 131ms;
  animation-duration: 879ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(48) {
  left: 336%;
  transform: rotate(44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 108ms;
  animation-duration: 1175ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(49) {
  left: 343%;
  transform: rotate(-71deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 205ms;
  animation-duration: 925ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(50) {
  left: 350%;
  transform: rotate(25deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 475ms;
  animation-duration: 829ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(300px);
  }
}

/*# sourceMappingURL=confetti.css.map */
