.confetti-8E2DA519-7758-4112-A060-09230DDBE988 {
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 300px;
  overflow: hidden;
  opacity: 0;
  animation: asdsaasdas 5000ms 1 ease-out;
  animation-delay: 0.5s;
}
@keyframes asdsaasdas {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 1;
    display: flex;
  }
  80% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(16deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 471ms;
  animation-duration: 1049ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(55deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 189ms;
  animation-duration: 1038ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(67deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 21ms;
  animation-duration: 774ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(-25deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 430ms;
  animation-duration: 1032ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-41deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 200ms;
  animation-duration: 959ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(-6deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 472ms;
  animation-duration: 1176ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(-69deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 259ms;
  animation-duration: 970ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(28deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 398ms;
  animation-duration: 717ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 206ms;
  animation-duration: 703ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(80deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 84ms;
  animation-duration: 961ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 419ms;
  animation-duration: 981ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(13deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 144ms;
  animation-duration: 817ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-56deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 122ms;
  animation-duration: 914ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(14) {
  left: 98%;
  transform: rotate(-20deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 267ms;
  animation-duration: 1193ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(15) {
  left: 105%;
  transform: rotate(-61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 332ms;
  animation-duration: 1046ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(16) {
  left: 112%;
  transform: rotate(7deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 134ms;
  animation-duration: 726ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(17) {
  left: 119%;
  transform: rotate(27deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 246ms;
  animation-duration: 1180ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(18) {
  left: 126%;
  transform: rotate(35deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 302ms;
  animation-duration: 1020ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(19) {
  left: 133%;
  transform: rotate(56deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 369ms;
  animation-duration: 729ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(20) {
  left: 140%;
  transform: rotate(77deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 112ms;
  animation-duration: 1116ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(21) {
  left: 147%;
  transform: rotate(-67deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 170ms;
  animation-duration: 873ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(22) {
  left: 154%;
  transform: rotate(-64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 117ms;
  animation-duration: 1065ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(23) {
  left: 161%;
  transform: rotate(-64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 218ms;
  animation-duration: 1056ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(24) {
  left: 168%;
  transform: rotate(66deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 219ms;
  animation-duration: 882ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(25) {
  left: 175%;
  transform: rotate(43deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 152ms;
  animation-duration: 823ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(26) {
  left: 182%;
  transform: rotate(69deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 159ms;
  animation-duration: 1185ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(27) {
  left: 189%;
  transform: rotate(-3deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 477ms;
  animation-duration: 1057ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(28) {
  left: 196%;
  transform: rotate(20deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 477ms;
  animation-duration: 826ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(29) {
  left: 203%;
  transform: rotate(5deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 166ms;
  animation-duration: 1142ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(30) {
  left: 210%;
  transform: rotate(54deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 361ms;
  animation-duration: 1187ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(31) {
  left: 217%;
  transform: rotate(19deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 179ms;
  animation-duration: 800ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(32) {
  left: 224%;
  transform: rotate(-6deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 44ms;
  animation-duration: 903ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(33) {
  left: 231%;
  transform: rotate(-9deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 114ms;
  animation-duration: 704ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(34) {
  left: 238%;
  transform: rotate(-25deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 332ms;
  animation-duration: 719ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(35) {
  left: 245%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 344ms;
  animation-duration: 842ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(36) {
  left: 252%;
  transform: rotate(75deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 407ms;
  animation-duration: 1168ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(37) {
  left: 259%;
  transform: rotate(2deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 176ms;
  animation-duration: 933ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(38) {
  left: 266%;
  transform: rotate(-80deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 380ms;
  animation-duration: 1175ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(39) {
  left: 273%;
  transform: rotate(71deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 81ms;
  animation-duration: 998ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(40) {
  left: 280%;
  transform: rotate(44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 271ms;
  animation-duration: 972ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(41) {
  left: 287%;
  transform: rotate(22deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 127ms;
  animation-duration: 1098ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(42) {
  left: 294%;
  transform: rotate(-46deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 485ms;
  animation-duration: 884ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(43) {
  left: 301%;
  transform: rotate(-8deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 442ms;
  animation-duration: 1134ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(44) {
  left: 308%;
  transform: rotate(-64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 342ms;
  animation-duration: 1020ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(45) {
  left: 315%;
  transform: rotate(-7deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 312ms;
  animation-duration: 1019ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(46) {
  left: 322%;
  transform: rotate(66deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 324ms;
  animation-duration: 872ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(47) {
  left: 329%;
  transform: rotate(-45deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 17ms;
  animation-duration: 892ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(48) {
  left: 336%;
  transform: rotate(42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 470ms;
  animation-duration: 863ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(49) {
  left: 343%;
  transform: rotate(38deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 336ms;
  animation-duration: 841ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(50) {
  left: 350%;
  transform: rotate(-67deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 390ms;
  animation-duration: 1091ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(300px);
  }
}

/*# sourceMappingURL=confetti.css.map */
