.confetti-8E2DA519-7758-4112-A060-09230DDBE988 {
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 300px;
  overflow: hidden;
  opacity: 0;
  animation: asdsaasdas 5000ms 1 ease-out;
  animation-delay: 0.5s;
}
@keyframes asdsaasdas {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 1;
    display: flex;
  }
  80% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 147ms;
  animation-duration: 958ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(8deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 42ms;
  animation-duration: 929ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 241ms;
  animation-duration: 982ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(7deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 79ms;
  animation-duration: 979ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-50deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 183ms;
  animation-duration: 723ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(9deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 329ms;
  animation-duration: 946ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(-20deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 439ms;
  animation-duration: 1038ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 100ms;
  animation-duration: 761ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-79deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 103ms;
  animation-duration: 1139ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(58deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 466ms;
  animation-duration: 1186ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(-52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 336ms;
  animation-duration: 1067ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(46deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 61ms;
  animation-duration: 834ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-15deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 132ms;
  animation-duration: 823ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(14) {
  left: 98%;
  transform: rotate(-59deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 491ms;
  animation-duration: 1008ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(15) {
  left: 105%;
  transform: rotate(22deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 369ms;
  animation-duration: 710ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(16) {
  left: 112%;
  transform: rotate(-61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 10ms;
  animation-duration: 963ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(17) {
  left: 119%;
  transform: rotate(57deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 453ms;
  animation-duration: 787ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(18) {
  left: 126%;
  transform: rotate(-19deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 263ms;
  animation-duration: 793ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(19) {
  left: 133%;
  transform: rotate(-32deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 491ms;
  animation-duration: 931ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(20) {
  left: 140%;
  transform: rotate(-49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 14ms;
  animation-duration: 1183ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(21) {
  left: 147%;
  transform: rotate(-61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 157ms;
  animation-duration: 813ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(22) {
  left: 154%;
  transform: rotate(50deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 205ms;
  animation-duration: 1199ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(23) {
  left: 161%;
  transform: rotate(-66deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 126ms;
  animation-duration: 1111ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(24) {
  left: 168%;
  transform: rotate(-4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 423ms;
  animation-duration: 776ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(25) {
  left: 175%;
  transform: rotate(0deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 209ms;
  animation-duration: 1174ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(26) {
  left: 182%;
  transform: rotate(-56deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 159ms;
  animation-duration: 1136ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(27) {
  left: 189%;
  transform: rotate(-28deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 493ms;
  animation-duration: 1146ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(28) {
  left: 196%;
  transform: rotate(63deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 433ms;
  animation-duration: 1073ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(29) {
  left: 203%;
  transform: rotate(-47deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 60ms;
  animation-duration: 729ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(30) {
  left: 210%;
  transform: rotate(74deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 35ms;
  animation-duration: 974ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(31) {
  left: 217%;
  transform: rotate(51deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 266ms;
  animation-duration: 761ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(32) {
  left: 224%;
  transform: rotate(73deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 240ms;
  animation-duration: 886ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(33) {
  left: 231%;
  transform: rotate(52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 335ms;
  animation-duration: 1070ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(34) {
  left: 238%;
  transform: rotate(35deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 71ms;
  animation-duration: 1082ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(35) {
  left: 245%;
  transform: rotate(-42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 403ms;
  animation-duration: 791ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(36) {
  left: 252%;
  transform: rotate(-74deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 92ms;
  animation-duration: 1131ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(37) {
  left: 259%;
  transform: rotate(-46deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 307ms;
  animation-duration: 1148ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(38) {
  left: 266%;
  transform: rotate(37deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 138ms;
  animation-duration: 1141ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(39) {
  left: 273%;
  transform: rotate(-17deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 232ms;
  animation-duration: 1194ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(40) {
  left: 280%;
  transform: rotate(7deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 328ms;
  animation-duration: 941ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(41) {
  left: 287%;
  transform: rotate(-56deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 356ms;
  animation-duration: 1137ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(42) {
  left: 294%;
  transform: rotate(-11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 221ms;
  animation-duration: 936ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(43) {
  left: 301%;
  transform: rotate(-2deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 268ms;
  animation-duration: 1112ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(44) {
  left: 308%;
  transform: rotate(55deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 428ms;
  animation-duration: 1045ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(45) {
  left: 315%;
  transform: rotate(-20deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 204ms;
  animation-duration: 1066ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(46) {
  left: 322%;
  transform: rotate(-15deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 421ms;
  animation-duration: 1043ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(47) {
  left: 329%;
  transform: rotate(2deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 193ms;
  animation-duration: 779ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(48) {
  left: 336%;
  transform: rotate(64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 139ms;
  animation-duration: 800ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(49) {
  left: 343%;
  transform: rotate(-18deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 465ms;
  animation-duration: 1058ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(50) {
  left: 350%;
  transform: rotate(-80deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 309ms;
  animation-duration: 1012ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-8E2DA519-7758-4112-A060-09230DDBE988 .confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(300px);
  }
}/*# sourceMappingURL=confetti.css.map */