.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 {
  background-color: var(--background-color-3);
  color: var(--text-color);
  padding: 48px 0;
  position: relative;
  text-align: center;
  font-family: Dosis, sans-serif;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .divider {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 80px;
  background-image: var(--footer-divider);
  background-repeat: repeat-x;
  background-position: bottom;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .Header-Main-Section {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .Header-Main-Section .text {
  font-size: 28px;
  font-weight: 1000;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .Header-Main-Section .Icons {
  display: flex;
  align-items: center;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .Header-Main-Section .Icons .x {
  width: 20px;
  height: 20px;
  background-image: var(--tda-icon-x);
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .Header-Main-Section .Icons .o {
  width: 20px;
  height: 20px;
  background-image: var(--tda-icon-o);
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex {
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
  width: 75vw;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex p {
  margin: 0;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .navigation p:not(.upper),
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .other p:not(.upper),
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .login p:not(.upper),
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .team p:not(.upper) {
  margin: 10px 0;
  text-align: left;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .navigation .upper,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .other .upper,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .login .upper,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .team .upper {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  width: fit-content;
  border-bottom-color: var(--text-color-primary);
  pointer-events: none;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .navigation a,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .other a,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .login a,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .team a {
  color: var(--text-color-primary);
  text-decoration: none;
  margin: 10px 0;
  transition-duration: 0.3s;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .navigation a:hover,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .other a:hover,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .login a:hover,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .team a:hover {
  color: var(--accent-color-primary);
  transition-duration: 0.3s;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .navigation span,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .other span,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .login span,
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .content-flex > .team span {
  color: var(--accent-color-primary);
  transition-duration: 0.3s;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright {
  display: flex;
  font-size: 12px;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright .copyright-tda {
  text-align: left;
  font-weight: 500;
  margin-left: 12vw;
  margin-top: 10px;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright .copyright-tda span {
  color: var(--text-color-primary);
  text-align: center;
  font-size: 12px;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright .copyright-team {
  font-weight: 500;
  text-align: right;
  margin-left: auto;
  margin-right: 12vw;
  margin-top: 10px;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright .copyright-team a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.3s;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright .copyright-team a:hover {
  color: var(--accent-color-secondary);
  transition-duration: 0.3s;
}
.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 .content .copyright .copyright-team span {
  color: var(--accent-color-secondary);
  text-decoration: none;
}

/*# sourceMappingURL=footer.css.map */
