.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 {
    background-color: var(--background-color-3);
    color: var(--text-color);
    padding: 48px 0;
    text-align: center;


    .content{
        .content-flex{
            display: flex;
            justify-content: space-around;
            width: calc(75vw - (7.5% * 1.5));
            margin: 0 auto;

            p {
                margin: 0;
            }

            >.navigation,
            >.other,
            >.team {
                p:not(.upper) {
                    margin: 10px 0;
                    text-align: left;
                }

                .upper{
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    border-bottom: solid 2px;
                    border-bottom-color: var(--accent-color-secondary);
                    pointer-events: none;
                }
                a{
                    color: var(--accent-color-primary);
                    text-decoration: none;
                    margin: 10px 0;
                }
                a:hover{
                    color: var(--accent-color-secondary);
                }
            }
        }
        
        .line{
            background-color: var(--color-gray);
            border-radius: 100%;
            height: 1px;
            width: calc(75vw - 11.25%);
            margin: 48px auto;
            position: relative;
        }
        
        .footer-logo {
            height: 100px;
            aspect-ratio: 150/47;
            display: flex;
            pointer-events: none;
            mask-image: var(--tda-logo-small);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            margin: 24px auto;
            position: relative;

            &::before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: var(--accent-color-primary);
                mask-image: var(--tda-logo-small);
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        .copyright-tda{
            font-family: Dosis, sans-serif;
            text-align: center;
            font-weight: 500;
            margin: 0 auto;
            margin-bottom: 12px;
            
            span{
                color: var(--accent-color-primary);
                text-align: center;
            }
        }
        
        .copyright{
            font-weight: 500;
            margin: 0 auto;
            text-align: center;
            font-family: Dosis, sans-serif;
            
            a {
                color: var(--accent-color-primary);
                text-decoration: none;

                &:hover{
                    color: var(--accent-color-secondary);
                }
            }

            span {
                color: var(--accent-color-primary);
                text-decoration: none;
            }
        }
    }
}