.footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1 {
    background-color: var(--background-color);
    color: #6c757d;
    padding: 20px 0;
    text-align: center;
    
    
    .content{
        
        
        .content-flex{
            display: flex;
            justify-content: space-around;
            width: calc(75vw - (7.5% * 1.5));
            margin: 0 auto;
            
            .navigation{
                .upper{
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    border-bottom: solid 2px;
                    border-bottom-color: var(--accent-color-secondary-darker);
                    pointer-events: none;
                }
                a{
                    color: var(--accent-color-secondary);
                    text-decoration: none;
                    margin: 10px 0;
                }
                a:hover{
                    color: var(--accent-color-primary);
                }
            }
            
            .other{
                .upper{
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    border-bottom: solid 2px;
                    border-bottom-color: var(--accent-color-secondary-darker);
                    pointer-events: none;
                }
                a{
                    color: var(--accent-color-secondary);
                    text-decoration: none;
                    margin: 10px 0;
                }
                a:hover{
                    color: var(--accent-color-primary);
                }
            }
            
            .team{
                .upper{
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    border-bottom: solid 2px;
                    border-bottom-color: var(--accent-color-secondary-darker);
                    pointer-events: none;
                    
                }
                p{
                    margin: 10px 0;
                }
                span{
                    color: var(--accent-color-secondary);
                }
            }
        ;
        }
        
        .line{
            background-color: #333333;
            height: 2px;
            width: calc(75vw - 11.25%);
            margin: 50px auto;
            position: relative;
        }
        
        .footer-logo {
            height: 100px;
            aspect-ratio: 150/47;
            display: flex;
            pointer-events: none;
            background-image: var(--footer-tda-logo);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
        }

        .copyright-tda{
            font-family: Dosis, sans-serif;
            text-align: center;
            font-weight: 500;
            margin: 0 auto;
            
            span{
                color: var(--accent-color-primary);
                text-align: center;
            }
        }
        
        .copyright{
            font-weight: 500;
            margin: 0 auto;
            text-align: center;
            font-family: Dosis, sans-serif;
            
            a{
                color: var(--accent-color-secondary);
                text-decoration: none;
            }
        }
    }
}