body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) > .flex > .Header-Menu > a {
  color: white !important;
}
body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) > .flex > .Header-Menu > a:is(.active)::before {
  background: white !important;
  transition-duration: 0.3s;
}
body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) > .flex > .Login > .newgame {
  background-color: rgba(255, 255, 255, 0.2);
}
body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) > .flex > .Login > .changetheme {
  background-color: white;
}
body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) > .flex > .Header-Logo {
  background-image: url("/images/svg/Think-different-Academy_LOGO_oficialni-bile.svg");
}
body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) > .Header-Logo-Small, body:is(.header-top-light) .header-5F015D44-0984-4A50-B52B-5319AE57C19C:not(.scrolled) .smallDevice {
  background-color: white;
}

.ExpandedMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--background-color);
  align-items: center;
  justify-content: space-between;
  margin: 0;
  z-index: 4;
  top: 0;
  transition-duration: 0.3s;
}
.ExpandedMenu > .Close-Icon {
  width: 50px;
  height: 50px;
  background-color: var(--text-color);
  mask-image: var(--close-icon);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 75%;
  position: absolute;
  right: calc(5vw + 7.5%);
  top: 8vw;
  cursor: pointer;
  transition-duration: 0.3s;
}
.ExpandedMenu > .Close-Icon:hover {
  background-color: var(--color-gray);
  transition-duration: 0.3s;
}
.ExpandedMenu > .Header-Logo-Small {
  height: 50px;
  width: 50px;
  pointer-events: none;
  background-image: var(--tda-logo-small);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 8vw;
  left: calc(4vw + 7.5%);
}
.ExpandedMenu > .Header-Menu-Small {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 128px;
  align-items: center;
  gap: 16px;
}
.ExpandedMenu > .Header-Menu-Small > .button-primary {
  color: white;
}
.ExpandedMenu > .Header-Menu-Small > .line {
  width: 25%;
  margin-top: 16px;
  height: 2px;
  background-color: var(--color-gray);
  border-radius: 12px;
}
.ExpandedMenu > .Header-Menu-Small > .Theme-Flex {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
.ExpandedMenu > .Header-Menu-Small > .Theme-Flex > .changetheme {
  width: 20px;
  height: 20px;
  background-color: var(--text-color);
  transition-duration: 0.3s;
  mask-image: var(--theme-icon);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
}
.ExpandedMenu > .Header-Menu-Small > .Theme-Flex > p {
  margin: 0;
}
.ExpandedMenu > .Header-Menu-Small > a {
  font-size: 32px;
  color: var(--text-color-primary);
  text-decoration: none;
  transition-duration: 0.3s;
}
.ExpandedMenu > .Header-Menu-Small > a:hover {
  transition-duration: 0.3s;
  color: var(--accent-color-secondary);
}
.ExpandedMenu > .Header-Menu-Small > button {
  font-size: 32px;
}

.header-5F015D44-0984-4A50-B52B-5319AE57C19C {
  position: fixed;
  background: none;
  border-radius: 40px;
  width: 90%;
  height: 80px;
  margin-top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 3;
  transition-property: background, opacity;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) {
  background: var(--background-color-3);
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) .newgame {
  background-color: var(--accent-color-primary) !important;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) .newgame:hover {
  background-color: var(--accent-color-primary-darker) !important;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex {
  position: relative;
  display: flex;
  height: 100%;
  width: 88.6%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .changetheme {
  width: 30px;
  height: 30px;
  background-color: var(--text-color);
  transition-duration: 0.3s;
  mask-image: var(--theme-icon);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .changetheme:hover {
  background-color: var(--color-gray) !important;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .newgame {
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .newgame:hover {
  background: rgba(255, 255, 255, 0.3);
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Logo {
  height: 50px;
  aspect-ratio: 150/47;
  display: flex;
  background-image: var(--footer-tda-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu {
  position: absolute;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  top: 50%;
  left: 280px;
  transform: translate(-50%, -50%);
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu a {
  position: relative;
  text-decoration: none;
  font-weight: 1000;
  color: var(--text-color-primary);
  user-select: none;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu a:is(.active)::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent-color-primary);
  margin-top: 22.5px;
  position: absolute;
  border-radius: 10px;
  pointer-events: none;
  transition-duration: 0.3s;
  animation: asdfsdsadf 0.3s forwards ease-in-out;
}
@keyframes asdfsdsadf {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent-color-secondary);
  margin-top: 5px;
  position: absolute;
  border-radius: 10px;
  animation: asdfsdf 0.3s forwards ease-in-out;
  pointer-events: none;
  transition-duration: 0.3s;
}
@keyframes asdfsdf {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .smallDevice {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 7.5%;
  top: 50%;
  transform: translateY(-50%);
  mask-image: url(/images/svg/menu.svg);
  mask-size: 90%;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--text-color);
  cursor: pointer;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .smallDevice:hover {
  background-color: var(--color-gray) !important;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .Header-Logo-Small {
  display: none;
  height: 50px;
  width: 50px;
  mask-image: var(--tda-logo-small);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text-color);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 7.5%;
  cursor: pointer;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) {
  background: var(--background-color-3);
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) .newgame {
  background-color: var(--accent-color-primary) !important;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) .newgame:hover {
  background-color: var(--accent-color-primary-darker) !important;
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex {
    display: none;
  }
  .header-5F015D44-0984-4A50-B52B-5319AE57C19C > .smallDevice {
    display: unset;
  }
  .header-5F015D44-0984-4A50-B52B-5319AE57C19C > .Header-Logo-Small {
    display: grid;
  }
  .ExpandedMenu > .Close-Icon {
    top: 5vw;
  }
  .ExpandedMenu > .Header-Logo-Small {
    top: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex {
    display: none;
  }
  .header-5F015D44-0984-4A50-B52B-5319AE57C19C > .smallDevice {
    display: unset;
  }
  .header-5F015D44-0984-4A50-B52B-5319AE57C19C > .Header-Logo-Small {
    display: grid;
  }
}

/*# sourceMappingURL=header.css.map */
