.header-5F015D44-0984-4A50-B52B-5319AE57C19C {
  position: fixed;
  background: none;
  border-radius: 40px;
  width: 90%;
  height: 80px;
  margin-top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 3;
  transition-property: background, opacity;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex {
  position: relative;
  display: flex;
  height: 100%;
  width: 88.6%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .changetheme {
  width: 30px;
  height: 30px;
  background-color: var(--text-color);
  transition-duration: 0.3s;
  mask-image: var(--theme-icon);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .changetheme:hover {
  background-color: var(--color-gray);
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .newgame {
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Login > .newgame:hover {
  background: rgba(255, 255, 255, 0.3);
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Logo {
  height: 50px;
  aspect-ratio: 150/47;
  display: flex;
  pointer-events: none;
  background-image: var(--footer-tda-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu {
  position: absolute;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  top: 50%;
  left: 280px;
  transform: translate(-50%, -50%);
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu a {
  position: relative;
  text-decoration: none;
  font-weight: 1000;
  color: var(--text-color-primary);
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu a:is(.active)::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent-color-primary);
  margin-top: 22.5px;
  position: absolute;
  border-radius: 10px;
  pointer-events: none;
  animation: asdfsdsadf 0.3s forwards ease-in-out;
}
@keyframes asdfsdsadf {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C > .flex > .Header-Menu a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent-color-secondary);
  margin-top: 5px;
  position: absolute;
  border-radius: 10px;
  animation: asdfsdf 0.3s forwards ease-in-out;
  pointer-events: none;
}
@keyframes asdfsdf {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) {
  background: var(--background-color-3);
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) .newgame {
  background-color: var(--accent-color-primary) !important;
  transition-duration: 0.3s;
}
.header-5F015D44-0984-4A50-B52B-5319AE57C19C:is(.scrolled) .newgame:hover {
  background-color: var(--accent-color-primary-darker) !important;
}

/*# sourceMappingURL=header.css.map */
