#ACCOUNT-PAGE {

  .sections {
    min-height: calc(100vh - 25vh);

    .mainsection {
      position: relative;
      margin-top: 25vh;
      
      >.account{
        display: flex;
        justify-content: center;
        
        >.account-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
      }
    }
  }
}
            