.sections{
    .mainsection{

        .texts{
            width: 80%;
            margin: 0 auto;
            margin-top: 64px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                text-align: justify;
                margin: 0;
                font-size: 20px;
            }
        }
    }
}