header:not(.scrolled) {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
}

.background-f55288d9-4dcf-456d-87c4-26be60c16cdb {
    animation: appear 4s ease-in-out;
    animation-iteration-count: 1;

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    &:is(.fade-out) {
        animation: fade-out 1.5s ease-in;
        animation-iteration-count: 1;
        opacity: 0;

        @keyframes fade-out {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }
}

.mainsection {
    position: relative;
    height: calc(100vh + 80px);

    >.endgame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: eipllkhnbvctaqvq 2s ease-in-out;
        display: flex;
        gap: 128px;
        justify-content: center;
        align-items: center;

        @keyframes eipllkhnbvctaqvq {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        >.content {
            text-align: left;

            >p {
                font-size: 20px;
                margin: 0;
            }

            >h1 {
                font-size: 72px;
                text-transform: uppercase;
                margin: 0;
                width: max-content;

                &:is(.win) {
                    color: var(--accent-color-primary);
                }

                &:is(.lose) {
                    color: var(--accent-color-secondary);
                }
            }

            >.randominfo {
                display: flex;
                flex-wrap: wrap;
                margin-top: 64px;
                gap: 32px 96px;

                >.elo {
                    position: relative;
                    width: fit-content;

                    >p {
                        margin: 0;
                        width: 100%;
                        //font-weight: 800;
                        //text-align: center;
                    }

                    >.elo-display {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                        align-items: center;

                        >.mark, >.number {
                            margin: 0;
                            font-size: 56px;
                            font-weight: 1000;
                        }

                        >.arrow {
                            width: 32px;
                            aspect-ratio: 1/1;
                            mask: url('/images/icons/triple_arrow.svg') no-repeat center;
                            mask-size: contain;

                            &:is(.plus) {
                                background-color: var(--accent-color-primary);
                                rotate: 180deg;
                            }

                            &:is(.minus) {
                                background-color: var(--accent-color-secondary);
                            }
                        }
                    }
                }

                >.timeplayed {
                    >p, >h2 {
                       margin:0;
                    }

                    >h2 {
                        font-size: 56px;
                    }
                }
            }
        }

        >.chat {
            width: 400px;
            display: flex;
            flex-direction: column;
            background-color: var(--background-color);
            border-radius: 12px;
            overflow: hidden;

            >p {
                margin: 0;
                padding: 24px;
                font-size: 18px;
                font-weight: 700;
            }

            .chat-messages {
                padding: 0 24px;
                gap: 6px;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                overflow-x: hidden;
                flex-grow: 1;
                height: 200px;

                >.message {
                    width: fit-content;
                    padding: 12px;
                    border-radius: 12px;
                    background-color: var(--color);
                    color: white;
                    display: flex;
                    gap: 12px;
                    animation: asdsaidasodjaoisdsf 0.3s;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;


                    &:is(.mymsg) {
                        flex-direction: row-reverse;
                        //text-align: right;
                        align-self: flex-end;

                        >.name {
                            display: none;
                        }
                    }


                    p {
                        margin: 0;

                        &::selection {
                            background-color: white;
                            color: black;
                        }
                    }


                    @keyframes asdsaidasodjaoisdsf {
                        from {
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                        }
                    }

                    >.name {
                        font-weight: 750;
                    }

                    >.message {
                        flex-grow: 1;
                    }
                }
            }

            .chat-input {
                input {
                    width: calc(100% - 48px);
                    left: 50%;
                    transform: translateX(-50%);
                    position: relative;
                    padding: 12px;
                    border-radius: 12px 12px;
                    margin-bottom: 16px;
                    margin-top: 16px;

                    &::placeholder {
                        user-select: none;
                    }
                }
            }
        }
    }

    >.loading {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: -40px;
        //background-color: var(--background-color);
        //border: 1px solid var(--background-color-primary);
        display: flex;
        flex-direction: column;
        padding: 64px;
        border-radius: 12px;
        min-width: 600px;
        -webkit-animation: appear 0.4s ease-out;

        @keyframes appear {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        >.img {
            width: 250px;
            max-width: 90vw;
            aspect-ratio: 1/1;
            mask: url("/images/icons/zarivka_thinking_bile.svg") no-repeat center;
            mask-size: contain;
            background-color: var(--text-color);//var(--accent-color);
            animation: loading-img-anim 3s ease-in-out infinite;
            margin: 0 auto;

            @keyframes loading-img-anim {
                0% {
                    transform: rotate(0deg);
                }

                20% {
                    transform: rotate(-20deg);
                }

                60% {
                    transform: rotate(20deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
        }

        p, h1 {
            text-align: center;
            margin: 0 auto;
            max-width: 90vw;
        }

        h1 {
            margin-top: 32px;
            margin-bottom: 8px;
        }

        p {
            color: var(--color-gray);
        }
    }

    .flex {
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        gap: 12px;
        align-content: start;
        margin-top: -40px;
        animation: appear 1s ease;
        animation-iteration-count: 1;

        @keyframes appear {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        p::selection, span::selection, a::selection, h1::selection, h2::selection, input::selection, select::selection {
            background-color: var(--hcolor);
        }

        &:not(.myturn) {
            .grid .cell:not(.winning-cell) {
                background-color: var(--gameboard-cell-notmyturn-bg) !important;
                transition-duration: 0.3s;
            }
        }

        &:is(.fade-out) {
            animation: fade-out 0.5s ease;
            animation-iteration-count: 1;
            opacity: 0;
            pointer-events: none;

            @keyframes fade-out {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }
        }

        &:is(.locked) {
            >.left {
                .grid {
                    cursor: not-allowed;
                    pointer-events: none;

                    .cell {
                        pointer-events: none;
                    }
                }
            }

            >.right {
                pointer-events: none;
            }
        }

        >.left {
            transition-duration: 0.3s;
            padding: 24px;
            border-radius: 12px;
            background-color: var(--background-color);
            flex-grow: 1;
            border: 1px solid var(--background-color-primary);

            >.buttons {
                position: absolute;
                top: -26px;

                >.timeleft {
                    pointer-events: none;
                    font-family: 'Dosis', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                }

                >div {
                    padding: 8px 24px;
                    background-color: var(--background-color);
                    color: var(--text-color);
                    text-decoration: none;
                    border-radius: 12px 12px 0 0;
                    transition-duration: 0.3s;
                    user-select: none;

                    &:hover {
                        background-color: var(--button-bg-hover);
                        transition-duration: 0.3s;
                    }
                }

                >a {
                    padding: 8px 24px;
                    background-color: var(--background-color);
                    color: var(--text-color);
                    text-decoration: none;
                    border-radius: 12px 12px 0 0;
                    transition-duration: 0.3s;
                    user-select: none;

                    &:hover {
                        background-color: var(--button-bg-hover);
                        transition-duration: 0.3s;
                    }
                }
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(15, 45px);
                grid-template-rows: repeat(15, 45px);
                gap: 0;
                width: fit-content;
                border-radius: 12px;
                //overflow: hidden;

                &:is(.locked) {
                    pointer-events: none !important;

                    /*.cell {
                        pointer-events: none !important;
                    }*/
                }

                .cell {
                    width: 45px;
                    height: 45px;
                    background-color: var(--button-bg);
                    //background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 8px;
                    border: 3px solid var(--background-color-primary);
                    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    position: relative;
                    transition-duration: 0.3s;
                    overflow: hidden;

                    >.cellhover {
                        position: absolute;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-color: var(--mcolor);
                        transition-duration: 0.3s;
                    }

                    &:hover {
                        background-color: var(--button-bg-hover);

                        >.cellhover {
                            opacity: 0.5;
                            transition-duration: 0.3s;
                        }
                    }

                    &:is(.x),
                    &:is(.o) {
                        pointer-events: none;
                        transition-duration: 0.3s;

                        >.cellhover {
                            display: none;
                        }

                        &:is(.winning-cell) {
                            animation: dsadasasdsa 2s ease 1;
                            animation-delay: 0.5s;

                            &::after {
                                background-color: white;
                            }

                            @keyframes dsadasasdsa {
                                0% {
                                    transform: scale(1);
                                    z-index: 2;
                                }

                                40% {
                                    transform: scale(1.5);
                                    z-index: 2;
                                }

                                60% {
                                    transform: scale(1.5);
                                    z-index: 2;
                                }

                                100% {
                                    transform: scale(1);
                                    z-index: 2;
                                }
                            }
                        }

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            mask: url('/images/icons/X_bile.svg') no-repeat center;
                            mask-size: 60%;
                            background: var(--accent-color-secondary);
                            animation: xoappear 0.2s ease-out;
                            transition-duration: 0.5s;

                            @keyframes xoappear {
                                0% {
                                    transform: translate(-50%, -50%) scale(0);
                                }

                                100% {
                                    transform: translate(-50%, -50%) scale(1);
                                }
                            }
                        }
                    }

                    &:is(.x) {
                        &::after {
                            mask-image: url('/images/icons/X_bile.svg');
                            background: var(--accent-color-secondary);
                        }

                        &:is(.winning-cell) {
                             background-color: var(--accent-color-secondary);
                        }
                    }

                    &:is(.o) {
                        &::after {
                            mask-image: url('/images/icons/O_bile.svg');
                            background: var(--accent-color-primary);
                        }

                        &:is(.winning-cell) {
                            background-color: var(--accent-color-primary);
                        }
                    }
                }
            }
        }

        >.right {
            display: flex;
            flex-direction: column;
            gap: 12px;
            $bg: var(--background-color);

            >div {
                background-color: $bg;
                border-radius: 12px;
                overflow: hidden;
            }

            >div:nth-child(1) {
                min-width: 320px;

                >.top {
                    padding: 24px;
                    border-radius: 12px 12px 0 0;
                    transition-duration: 0.3s;
                    background-color: var(--mcolor);
                    color: white;


                    >.name {
                        font-size: 24px;
                        font-weight: 1000;
                        max-width: 320px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        text-align: center;
                        margin: 0 auto;
                    }

                    >.r {
                        margin: 0 auto;
                        font-size: 16px;
                        width: max-content;

                        >span {
                            font-weight: 1000;
                        }
                    }
                }

                >.texts {
                    padding: 24px;
                    border-radius: 0 0 12px 12px;
                    background-color: $bg;
                    transition-duration: 0.3s;

                    >p {
                        margin: 0;
                        font-size: 16px;

                        >span {
                            font-weight: 700;
                            font-size: 18px;
                        }
                    }
                }
            }

            >.multiplayer-top {
                >.top {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    >.player-o,
                    >.player-x {
                        display: flex;
                        gap: 12px;
                        align-items: center;

                        &:not(.active) {
                            opacity: 0.4;
                        }

                        div {
                            width: 28px;
                            height: 28px;
                            mask-repeat: no-repeat;
                            mask-position: center;
                            mask-size: contain;
                            background-color: white;
                        }

                        h1 {
                            font-size: 24px;
                            margin: 0;
                            width: max-content;
                        }

                        >.time {
                            flex-grow: 1;
                            text-align: right;
                            margin: 0;
                        }
                    }

                    >.player-o {
                        div {
                            mask-image: url('/images/icons/O_bile.svg');
                        }
                    }

                    >.player-x {
                        div {
                            mask-image: url('/images/icons/X_bile.svg');
                        }
                    }
                }
            }

            >.settings {
                padding: 24px;
                gap: 24px;
                display: flex;
                flex-direction: column;
                transition-duration: 0.3s;

                >h2 {
                    margin: 0;
                    font-size: 24px;
                }

                >.pair {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    >p {
                        margin: 0;
                        font-weight: 600;
                    }

                    >input, >select {
                        width: 100%;
                    }
                }

                >.buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    >button {
                        flex-grow: 1;
                    }
                }
            }

            >.presettings {
                padding: 24px;
                gap: 8px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                >button {
                    //flex-grow: 2;
                    width: 120px;
                }
            }

            >.player-disconnected-warn {
                background-color: var(--accent-color-secondary);
                color: white;
                text-align: center;
                font-size: 16px;
            }

            >.chat {
                width: 350px;

                >p {
                    margin: 0;
                    padding: 24px;
                    font-size: 18px;
                    font-weight: 700;
                }

                .chat-messages {
                    padding: 0 24px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    overflow-x: hidden;
                    flex-grow: 1;
                    max-height: 200px;
                    min-height: 100px;

                    >.message {
                        width: fit-content;
                        padding: 12px;
                        border-radius: 12px;
                        background-color: var(--color);
                        color: white;
                        display: flex;
                        gap: 12px;
                        animation: asdsaidasodjaoisdsf 0.3s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease;


                        &:is(.mymsg) {
                            flex-direction: row-reverse;
                            //text-align: right;
                            align-self: flex-end;

                            >.name {
                                display: none;
                            }
                        }


                        p {
                            margin: 0;

                            &::selection {
                                background-color: white;
                                color: black;
                            }
                        }


                        @keyframes asdsaidasodjaoisdsf {
                            from {
                                opacity: 0;
                            }

                            to {
                                opacity: 1;
                            }
                        }

                        >.name {
                            font-weight: 750;
                        }

                        >.message {
                            flex-grow: 1;
                        }
                    }
                }

                .chat-input {
                    input {
                        width: calc(100% - 48px);
                        left: 50%;
                        transform: translateX(-50%);
                        position: relative;
                        padding: 12px;
                        border-radius: 12px 12px;
                        margin-bottom: 16px;
                        margin-top: 16px;

                        &::placeholder {
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}

// fullhd
@media screen and (min-width: 1100px) and (max-width: 1600px) {
    .mainsection .flex > .left .grid {
        $cellsize: 38px;

        grid-template-columns: repeat(15, $cellsize);
        grid-template-rows: repeat(15, $cellsize);

        >.cell {
            width: $cellsize;
            height: $cellsize;
            border-radius: 6px;
            border-width: 2.5px;
        }
    }
}


// tablety
@media screen and (min-width: 735px) and (max-width: 1100px) {
    .mainsection {
        height: auto;
        min-height: 100vh;
        padding-bottom: 160px;

        >.flex {
            flex-direction: column-reverse;
            position: relative;
            top: calc(5vh + 40px);
            margin: 0 auto;
            width: 90vw;
            left: unset;
            transform: unset;

            >.left {
                border-bottom: 12px solid var(--mcolor);

                > .buttons > a {
                    background-color: var(--mcolor);
                    color: white;

                    &:hover {
                        background-color: var(--text-color);
                        color: var(--bg);
                    }
                }

                .grid {
                    $cellsize: 5.3vw;
                    margin: 0 auto;
                    grid-template-columns: repeat(15, $cellsize);
                    grid-template-rows: repeat(15, $cellsize);

                    .cell {
                        width: $cellsize;
                        height: $cellsize;
                        border-width: 0.3vw;
                        border-radius: 1.2vw;
                    }
                }
            }

            >.right {
                flex-direction: row;

                >div {
                    flex-grow: 1;
                }

                div:nth-child(1) > .top > .name {
                    max-width: 420px;
                }

                .settings {
                    min-width: 300px;
                }
            }
        }
    }
}


// mobil
@media screen and (max-width: 735px) {
    .mainsection {
        height: auto;
        min-height: 100vh;
        padding-bottom: 160px;

        >.flex {
            flex-direction: column-reverse;
            position: relative;
            top: calc(5vh + 40px);
            margin: 0 auto;
            width: 90vw;
            left: unset;
            transform: unset;

            >.left {
                border-bottom: 12px solid var(--mcolor);

                > .buttons > a {
                    background-color: var(--mcolor);
                    color: white;

                    &:hover {
                        background-color: var(--text-color);
                        color: var(--bg);
                    }
                }

                .grid {
                    $cellsize: 5vw;
                    margin: 0 auto;
                    grid-template-columns: repeat(15, $cellsize);
                    grid-template-rows: repeat(15, $cellsize);
                    pointer-events: none;

                    .cell {
                        width: $cellsize;
                        height: $cellsize;
                        border-width: 0.3vw;
                        border-radius: 1.2vw;
                    }
                }


                &:has(.grid:not(.locked)):active,
                &:has(.grid:not(.locked)):hover {
                    overflow: auto;
                    aspect-ratio: 1/1;

                    .grid {
                        $cellsize: 9vw;
                        margin: 0 auto;
                        grid-template-columns: repeat(15, $cellsize);
                        grid-template-rows: repeat(15, $cellsize);
                        pointer-events: all;
                        animation: templockpoaiswdjsiaasoidj 1s;

                        &:is(.locked) {
                            pointer-events: none !important;
                        }

                        @keyframes templockpoaiswdjsiaasoidj {
                            from {
                                pointer-events: none;
                            }
                            to {
                                pointer-events: all;
                            }
                        }

                        .cell {
                            width: $cellsize;
                            height: $cellsize;
                            border-width: 0.6vw;
                            border-radius: 2vw;
                        }
                    }
                }
            }

            >.right {
                div:nth-child(1) > .top > .name {
                    max-width: none;
                }
            }
        }
    }
}