// playground

section:is(.top) {
    position: relative;
    height: calc(100vh + 80px);
    width: 100%;
    overflow: hidden;


    h1, p {
        margin: 0;
    }

    >.center {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.left {
            >h1 {
                width: clamp(0px, 50vw, 700px);
                font-size: clamp(0px, 6vw, 96px);
                line-height: clamp(0px, 5.5vw, 90px);
                position: relative;
                color: white;

                &::before {
                    content: 'X O O X X O';
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    font-size: clamp(0px, 1.5vw, 32px);
                    color: #ff7575;
                }
            }

            >p {
                width: 30vw;
                font-size: clamp(0px, 1.5vw, 24px);

                margin-top: 2vw;
                opacity: 0.7;
            }

            >button{
                border-radius: 12px;
                padding: 0.8vw 3vw;
                font-size: clamp(0px, 1.5vw, 24px);
                cursor: pointer;
                margin: 0;
                margin-top: 2vw;
            }
        }

        >.right {
            position: relative;
            flex-grow: 1;

            >.img {
                width: 100%;
                max-width: 30vw;
                aspect-ratio: 1/1;
                background-image: url("/images/icons/zarivka_playing_bile.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: auto;
            }
        }
    }
}