.sections {
  font-family: "Dosis", sans-serif;
}
.sections .mainsection {
  padding-bottom: 64px;
}
.sections .mainsection > .leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sections .mainsection > .leaderboard > .top-three {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
  margin-top: 128px;
  margin-bottom: 32px;
}
.sections .mainsection > .leaderboard > .top-three .player-first,
.sections .mainsection > .leaderboard > .top-three .player-second,
.sections .mainsection > .leaderboard > .top-three .player-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition-duration: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(100% - 21.3333333333px);
}
.sections .mainsection > .leaderboard > .top-three .player-first:hover,
.sections .mainsection > .leaderboard > .top-three .player-second:hover,
.sections .mainsection > .leaderboard > .top-three .player-third:hover {
  transition-duration: 0.3s;
  scale: 1.05;
}
.sections .mainsection > .leaderboard > .top-three .player-first .avatar-wrapper,
.sections .mainsection > .leaderboard > .top-three .player-second .avatar-wrapper,
.sections .mainsection > .leaderboard > .top-three .player-third .avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sections .mainsection > .leaderboard > .top-three .player-first .avatar-wrapper > .avatar,
.sections .mainsection > .leaderboard > .top-three .player-second .avatar-wrapper > .avatar,
.sections .mainsection > .leaderboard > .top-three .player-third .avatar-wrapper > .avatar {
  color: white;
}
.sections .mainsection > .leaderboard > .top-three .player-first .rank,
.sections .mainsection > .leaderboard > .top-three .player-second .rank,
.sections .mainsection > .leaderboard > .top-three .player-third .rank {
  font-size: 24px;
  font-weight: 600;
}
.sections .mainsection > .leaderboard > .top-three .player-first .score,
.sections .mainsection > .leaderboard > .top-three .player-second .score,
.sections .mainsection > .leaderboard > .top-three .player-third .score {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray);
}
.sections .mainsection > .leaderboard > .top-three .player-info {
  margin-top: 8px;
  text-align: center;
}
.sections .mainsection > .leaderboard > .top-three .player-info .name {
  font-size: 32px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}
.sections .mainsection > .leaderboard > .top-three .player-info .elo {
  font-size: 16px;
  color: #555;
}
.sections .mainsection > .leaderboard .player-first {
  transform: translateY(-20%);
}
.sections .mainsection > .leaderboard .player-first .crown {
  position: absolute;
  top: -40px;
  transform: rotate(12deg) translateX(10px);
  width: 60px;
  height: 60px;
  background: url("/images/svg/crown.svg") no-repeat center;
  background-size: contain;
}
.sections .mainsection > .leaderboard .player-first .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color-additional-2);
  color: var(--text-color-primary);
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.sections .mainsection > .leaderboard .player-first .rank {
  color: gold;
}
.sections .mainsection > .leaderboard .player-first .name {
  color: gold;
}
.sections .mainsection > .leaderboard .player-second {
  transform: translateY(-5%);
}
.sections .mainsection > .leaderboard .player-second .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color-primary-darker);
  color: var(--text-color-primary);
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.sections .mainsection > .leaderboard .player-second .rank {
  color: silver;
}
.sections .mainsection > .leaderboard .player-second .name {
  color: silver;
}
.sections .mainsection > .leaderboard .player-third {
  transform: translateY(-5%);
}
.sections .mainsection > .leaderboard .player-third .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color-secondary-darker);
  color: var(--text-color-primary);
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.sections .mainsection > .leaderboard .player-third .rank {
  color: #cd7f32;
}
.sections .mainsection > .leaderboard .player-third .name {
  color: #cd7f32;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom {
  font-weight: 500;
  font-size: 16px;
  width: 40%;
  margin-bottom: 64px;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard:is(.me) > .left > .rank {
  color: var(--accent-color-primary);
  font-weight: 800;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard:is(.me) > .left > .user > span {
  margin-left: 24px;
  color: var(--accent-color-primary);
  font-weight: 800;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.25;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard:hover {
  transition-duration: 0.3s;
  background-color: var(--background-color-primary);
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard > .left {
  display: flex;
  gap: 24px;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard > .left > .rank {
  font-weight: 800;
  width: 20px;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard > .right {
  display: flex;
  gap: 12px;
  width: 200px;
  justify-content: space-between;
}
.sections .mainsection > .leaderboard > .leaderboard-bottom > .rest-of-leaderboard > .right > .elo {
  font-weight: 700;
}/*# sourceMappingURL=leaderboard.css.map */