@mixin stroke($size: 1px, $color: #000) {
    text-shadow:
            -#{$size} -#{$size} 0 $color,
            0        -#{$size} 0 $color,
            #{$size} -#{$size} 0 $color,
            #{$size}  0        0 $color,
            #{$size}  #{$size} 0 $color,
            0         #{$size} 0 $color,
            -#{$size}  #{$size} 0 $color,
            -#{$size}  0        0 $color;
}

[v-cloak] {
    display: none;
}


html {
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg);
    margin: 0;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin:0;
}

::-webkit-scrollbar {
    width: 8px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    transition-duration: 0.3s;
    border-radius: 100px;
}

::selection {
    background-color: var(--accent-color-secondary);
    color: white;
    text-shadow: none;
}

@font-face {
    font-family: 'Dosis';
    src: url("/fonts/dosis.ttf")  format('truetype');
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



h1, h2, h3, h4, h5, h6 {
    font-weight: 1000;
    font-family: Dosis, sans-serif;
    font-size: 32px;
}

p,a,button,input,textarea,select,label {
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 500;
    //color: var(--text-color-secondary);
}

.button-primary, .button-primary-col-prim {
    background: var(--accent-color-primary);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background: var(--accent-color-primary-darker);
    }
}

.button-primary-col-sec {
    background: var(--accent-color-secondary);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
        background: var(--accent-color-secondary-darker);
    }
}

.button-secondary {
    background: none;
    color: var(--text-color);
    border: 1px solid var(--button-outline-color);
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: var(--button-bg);
    }
}

.sections {
    $margintop: 25vh;
    position: relative;
    min-height: calc(100vh - $margintop);
    width: 76.5%;
    margin: 0 auto;
    margin-top: $margintop;
}

input, select {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--text-color);

    &:focus {
        outline: none;
        background-color: var(--button-bg-hover);
    }
}